*vscode
*__pycache__*
*.pyc
*.wav
/results
processed_assets/
assets/
spectrograms.pkl
/assets/wavs/
input_wavs/
output_mels/
logs/
models/
processed_assets/
run/
SpeechSplit/main_grid.py
SpeechSplit/done_already.txt
Waveglow/data